.isButton {
    width: 80%;
    height: 45px;
    background-color: yellow;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 35px;
    display: block;
    margin: 50 auto;
}

#resultDisplay {
    font-size: 15px;
    font-weight:bold;
}
